apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: aqua-scan-gate-webhook
webhooks:
  - name: mpod.security.example.com
    clientConfig:
      service:
        name: aqua-scan-gate-webhook
        namespace: aqua-scan-gate-system
        path: /mutate-v1-pod
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values:
            - kube-system
            - kube-public
            - aqua-scan-gate-system
    failurePolicy: Fail
    sideEffects: None
    admissionReviewVersions: ["v1"]
    timeoutSeconds: 10
