---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - scans.aquasec.community
  resources:
  - imagescans
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - scans.aquasec.community
  resources:
  - imagescans/finalizers
  verbs:
  - update
- apiGroups:
  - scans.aquasec.community
  resources:
  - imagescans/status
  verbs:
  - get
  - patch
  - update
